#cards {
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid red; */
}
body {
    background-color: aqua;
}
img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.card {
    width: 400px;
    border: 1px solid black;
}
/* .card-body {
    height: 0px;
} */